body {
  margin: 0;
  font-family: Arial, sans-serif;
}

.container {
  display: flex;
  height: 100vh;
}

.sidebar {
  width: 250px;
  background: #f5f5f5;
  padding: 15px;
  overflow-y: auto;
}

.sidebar h2 {
  margin-top: 0;
}

.sidebar button {
  width: 100%;
  padding: 8px;
  margin-bottom: 10px;
}

.note-item {
  padding: 10px;
  margin-bottom: 8px;
  background: #cfeaf5;
  cursor: pointer;
  border-radius: 8px;
}

.editor {
  flex: 1;
  padding: 20px;
}

#title {
  width: 100%;
  font-size: 20px;
  margin-bottom: 10px;
}

#content {
  width: 100%;
  height: 80%;
  font-size: 16px;
}
